<div class="welcome text-center mt-4 justify-content-center">
    <h1>Welcome to your academy</h1>
    <div class="choose mt-4 d-flex justify-content-around ">
        <div class="view hvr-grow-shadow">
            <h3><a href="/academy">View Academy</a></h3>
        </div>
        <div class="view hvr-grow-shadow">
            <h3><a href="">My Profile</a></h3>
        </div>
        <div class="view hvr-grow-shadow">
            <h3><a href="">My Profile</a></h3>
        </div>
    </div>
</div>